

.bg-image{
    background-image: url(bg-image.jpg);
    background-size: cover; 
    background-position: center;
    min-height: 75vh;
    
}

.bg-black{
    background-color: rgb(19, 49, 19);
}
.bg-gray{
    background-color: rgb(218, 216, 216);
    
}

.shadow{
    box-shadow: black 10px 5px 8px;
}

.font{
    font-family: 'Boogaloo', cursive;
}

@media only screen and (max-width: 500px) {
    .position{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .noText{
        display: none;
    }
}

