

.bg-image{
    background-image: url(bg-image.jpg);
    background-size: cover; 
    background-position: center;
    min-height: 75vh;
    
}

.bg-black{
    background-color: black;
}
.bg-gray{
    background-color: gray;
    color: white;
}

.font{
    font-family: 'Boogaloo', cursive;
}

@media only screen and (max-width: 500px) {
    .order{
    
     display: none;
    }
}

@media only screen and (max-width: 500px) {
    .noText{
        display: none;
    }
}
